@import "./iconfont/iconfont.css";

$RL: left !default;
@mixin floatRL($direction:$RL) {
  float: $direction;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

input {
  border: none;
}

li{
  list-style: none;
}
